<div class="flex h-screen flex-col items-center justify-center">
  <input
    class="w-100 border border-1 border-blue-500 text-blue-500"
    #input
    type="text"
    placeholder="Search..."
  />
  <div class="m-2 flex justify-center gap-2">
    <button class="rounded bg-blue-500 p-1" (click)="generateContent(input.value)">enter</button>
    <button class="rounded bg-green-500 p-1" (click)="generate(input.value)">search</button>
    <button class="rounded bg-green-500 p-1" (click)="chat(input.value)">chat</button>
  </div>
  @let isLoading = $resource.isLoading();
  @if (isLoading) {
    <p class="whitespace-pre-wrap">searching...</p>
  } @else {
    <p class="whitespace-pre-wrap">{{ $resource.value() }}</p>
  }

  <p class="whitespace-pre-wrap">{{ $result() }}</p>
</div>

<router-outlet></router-outlet>
