PORT=333
# Database
DB_URI=mongodb://mongo:27017
DB_NAME=name
MONGO_CLIENT_PORT=9005

# PostgreSQL
POSTGRES_DB=content_analyzer
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password

# pgAdmin
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin123

# mongo-express
ME_CONFIG_BASICAUTH_USERNAME=admin
ME_CONFIG_BASICAUTH_PASSWORD=admin123

# gemini
GEMINI_API_KEY=xxx